@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap'); */

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: light;
}


body {
  font-family: "EB Garamond", serif;
}
header, footer {
  font-family: "EB Garamond", serif;
}


@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-overlay {
  animation: fadeInOverlay 0.3s ease-out;
}

/* Cascading fade-in for menu items */
@keyframes fadeInItem {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-item {
  opacity: 0;
  animation: fadeInItem 0.4s ease-out forwards;
}

/* Delay utilities */
.menu-delay-1 {
  animation-delay: 0.1s;
}
.menu-delay-2 {
  animation-delay: 0.2s;
}
.menu-delay-3 {
  animation-delay: 0.3s;
}
